*{
    margin: 0;
    padding: 0;
}
.body
{

}
/* .eyeglassparentdiv{
    width: 98vw;
    margin-left: 1vw;
    position: inherit;
} */
.eyefirstdiveyegl{
    margin-top: 10vh;
    width: auto;
    height: 12vh;
    margin-bottom: .5vh;
    background-color: aqua;
}
.eyeseconddiv{
    display: flex;
}
.seconddiva{
    width: 10vw;
    height: 100vh;
    background-color: blueviolet;
}
.seconddivb{
    width: 90vw;
    height: 100vh;
    background-color: chartreuse;
}