*{
    margin: 0;
    padding: 0;
}
.eyefirstdiveyegl{
    margin-top: 1vh;
    width: auto;
    height: 12vh;
    margin-bottom: .5vh;
    /* background-color: aqua; */
    
    background:  url(/public//images/images.jpg) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imghg{
    width: auto;
    height: 80%;
}
.banerofer{
    font-size: xx-large;
}
.eyeseconddiv{
    display: flex;
    /* background-color: rgb(102, 255, 235); */
}
.seconddiva{
    width: 12vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.seconddivb{
    min-width: 90vw;
    max-width: 90vw;
    height: 100vh;
    float: right;
   
    overflow-y:scroll;
    /* background-color: chartreuse; */
}
.eyesglassrangecard{
    float: left;
    min-width: 26vw;
    max-width: 26vw;
    min-height: 10vh;
    max-height: 45vh;
    overflow: disabled;
    margin: 25px 20px 20px 20px;
    background-color: rgb(243, 153, 43);
}
.imagehov{
    position: relative;
}
.cardd{
    position: relative;
    width: 100%;
}
.cardd:hover{
    display:none;
    transition: 1s;

}
.imgcarddd{
    width: auto;
    height: 22.5vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 10px 40px 40px 40px;
}
.carddb{
    position: relative;
    width: 100%;
}

.cardimage{
    background-color: blueviolet;
    min-width: auto;
    max-width: auto;
    min-height: 28ch;
    max-height: 28ch;
    overflow: hidden;
}
.carda{
    float: left;
    margin: 15px 10px 12px 15px;
    width: 50ch;
    min-height: 38ch;
    max-height: 38ch;
    border-width: 0.1px;
    /* background-color: blueviolet; */
}
.cccard{
    
    /* background-color: cornflowerblue; */
}
.srchdiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);

}
.inputform
{
    border-radius: 8px;
    border-width: 1px;
    width: 15rem;
    height:5vh;
    padding: 1rem ;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(0, 0, 0);

}

@media (max-width: 766px) {
    .seconddiva{
       display: none;
    }
    .seconddivb{
        min-width: 100%;
        max-width: 100%;
        /* background-color: aqua; */
    }
    .carda{
        float: left;
        margin: 15px 10px 60px 23px;
        width: 40ch;
        min-height: 30ch;
        max-height: 30ch;
        border-width: 0.1px;
        /* background-color: blueviolet; */
    }
    .carddb{
        display: none;
        
    }
    .imghg{
        width: auto;
        height: 50%;
        margin-right: 10px;
    }
    .banerofer{
        font-size: large;
        font-weight: 700;
        margin: 10px;
    }
    .inputform
{

    width: 12rem;
    height:5vh;
    margin: 2.5vw;


}

}


