*{
    margin: 0;
    padding-left: .15vw;
    padding-right: .5vw;
}
.eyeglassdiva

{
    width: 98vw;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    margin-top: 10vh;
 
    overflow: hidden;

}
.eyeglassdivb,.eyeglassdivc,.eyeglassdivd,
.eyeglassdive,.eyeglassdivf,.eyeglassdivg,
.eyeglassdivh,.eyeglassdivi{
    width: 98vw;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    margin-top: 0vh;
}
.carocc
{
    width: 300px;
    height: 250px;
    display: flex;
}
.eyeglassslideer{
    width: 300px;
    height: 200px;
}
.eyeglassslideerimg{
    width: 300px;
    height: 200px;
}
.EyeglassslidercardA {
    min-width: 30vw;
    max-width: 30vw;
    min-height: 28.5vh;
    max-height: 28.5vh;
    margin: 7px 20px 25px 25px;
    /* background-color: rgb(212, 212, 212); */
}

.Eyeglasssliderimg {
    width: auto;
    height: 28vh;
}

.procontainer {
    scroll-behavior: smooth;
    width: 90vw;
}
.btna{
    border: none;
    border-radius: none;
    background-color: rgb(28, 180, 185);
    width: 8vw;
    height: 5vh;
    font-weight: 600;
    color: aliceblue;
}
@media (max-width: 766px) {
    .EyeglassslidercardA {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 70%;
        max-width: 70%;
        min-height: 21.5vh;
        max-height: 21.5vh;
        margin:  25px;
        margin-left: 60px;
        /* background-color: rgb(168, 22, 22); */
    }
    .Eyeglasssliderimg {
        width: 95%;
        height: auto;
    }
    .btna{
        border: none;
        border-radius: 15px;
        background-color: rgb(28, 180, 185);
        width: 30vw;
        height: 5vh;
        font-weight: 600;
        color: aliceblue;
    }
    

}