*{
    margin: 0;
    padding: 0;
}
.eyefirstdiveyegl{
    margin-top: 10vh;
    width: auto;
    height: 12vh;
    margin-bottom: .5vh;
    background-color: aqua;
}
.eyeseconddiv{
    display: flex;
    /* background-color: rgb(102, 255, 235); */
}
.seconddiva{
    width: 12vw;
    height: 100vh;
    background-color: blueviolet;
}
.seconddivb{
    min-width: 90vw;
    max-width: 90vw;
    height: 100vh;
    float: right;
   
    overflow-y:scroll;
    /* background-color: chartreuse; */
}
.eyesglassrangecard{
    float: left;
    min-width: 26vw;
    max-width: 26vw;
    min-height: 10vh;
    max-height: 45vh;
    overflow: disabled;
    margin: 25px 20px 20px 20px;
    background-color: rgb(243, 153, 43);
}
.imagehov{
    position: relative;
    display: non;
}
.cardd{
    position: relative;
    width: 100%;
}
.cardd:hover{
    display:none;
    transition: 1s;

}
.imgcarddd{
    width: auto;
    height: 22.5vh;
    /* background-color: brown; */
    overflow: hidden;
    padding: 0px 40px 40px 40px;
}
.carddb{
    position: relative;
    width: 100%;
}

.cardimage{
    background-color: blueviolet;
    min-width: auto;
    max-width: auto;
    min-height: 28ch;
    max-height: 28ch;
    overflow: hidden;
}
.carda{
    float: left;
    margin: 15px 10px 12px 15px;
    width: 50ch;
    min-height: 38ch;
    max-height: 38ch;
    border-width: 0.1px;
    /* background-color: blueviolet; */
}
.cccard{
    /* background-color: cornflowerblue; */
}
