.containerr {
    max-width: 100vw;
    max-height: 100vvh;
}

.homecaro {
    width: 99vw;
    padding-bottom: 2vh;
}

.sdiv {
    width: 99vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2vh;
}
.stext {
    position: absolute;
    color: aliceblue;
    font-size: 6.5rem;

}
.tdiv {
    width: 99vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;
}

.ctdiva {
    background-color: aqua;
    height: 50vh;
    width: 20vw;
    position: relative;
}

.ctdivb {
    background-color: rgb(247, 0, 95);
    height: 50vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.go {
    position: absolute;
    font-size: 11rem;
    margin-top: -15%;
    margin-left: 15%;
    color: rgb(78, 2, 2);
}

.with {
    position: absolute;
    font-size: 4rem;
    margin-left: 20%;
    margin-top: 45%;
    color: rgb(78, 2, 2);
}

.trend {
    position: absolute;
    font-size: 4rem;
    margin-top: 70%;
    margin-left: 5%;
    color: rgb(78, 2, 2);
    font-weight: 500;
}

.cardAimg {
    width: 240px;
    height: 150px;
}

.Pname {
    font-size: 2rem;
}

.carddiv {
    width: 250px;
    height: 280px;
    margin: 20px;
    /* background-color: aquamarine; */
}

.cardA {
    width: 200px;
    height: 300px;
    margin: 30px;
    background-color: blueviolet;
}