* {
    margin: 0;
    padding: 0;

}


.testdiv{
    width: auto;
    height: 30vh;
    background-color: #b87932;
}


/* .homecontainer {
    width: 98vw;
    min-height: 100vh;
    max-height: 100vh;
    margin-top: 9vh;
    margin-left: .5vw;
    background-color: #F5F5DC;
} */

.firstdiv {
    width: 100%;
    height: 25vh;
    background-color: rgb(247, 243, 252);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.firstdivb{
    display: none;
}

.imgdiv {
    width: 16vw;
    height: 75%;
    background-color: rgb(255, 255, 255);
    margin: 1vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imageparent {
    background-color: rgb(247, 243, 252);
    min-width: 8vw;
    max-width: 14vw;
    height: 0vh;
    border-radius: 8px;
    margin-top: 1vh;
}

.imgdiv:hover {
    -webkit-transition: .3s;
    height: 79%;
    background: #123b79;
    color: antiquewhite;
}


.imgeyecontrol {
    position: absolute;
    min-width: 13.5vw;
    max-width: 13.5vw;
    min-height: auto;
    max-height: auto;
}

/* -------------------first Div----------------------- */

.slidera {
    width: 100%;
    height: 68vh;
    /* background-color: aqua; */
}

.carocontrole {
    width: 100%;
    height: 100%;
}

.seconddiv {
    width: auto;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    margin-bottom: 1vh;
}

.seconddivtext {
    font-size: 8ch;
    color: white;

}


.thirddiv {
    width: auto;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0vh;
    /* background-color: blueviolet; */
}

.ctdiva {
    /* background-color: aqua; */
    height: 40vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.go {
    font-size: 4rem;
    font-weight: 500;
    color: rgb(78, 2, 2);
}

.ctdivb {
    /* background-color: rgb(247, 0, 95); */
    height: 37vh;
    width: 80vw;
   
    overflow: hidden;
}

.Pname {
    font-size: 30px;
    margin-top: 2px;
}

.cardA {
    min-width: 260px;
    max-width: 260px;
    min-height: 280px;
    max-height: 280px;
    margin: 20px 20px 15px 10px;
    /* background-color: rgb(212, 212, 212); */
}

.cardAbtn{
    width: 7.5vw;
    height: 4.5vh;
}
.cardAimg {
    width: 100%;
    height: 100%;
}


.procontainer {
    scroll-behavior: smooth;
    width: 90vw;
}

.headname {
    min-width: 14.5vw;
    max-width: 14.5vw;
    min-height: auto;
    max-height: auto;
    margin-top: .3vh;
}

.imageparent {
    background-color: rgb(247, 243, 252);
    min-width: 14vw;
    max-width: 14vw;
    height: 18vh;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: 1vh;
}

.fourthdiv {
    width: auto;
    height: 60vh;
    /* background-color: rgb(150, 150, 250); */
    background-image: url(/public/images/fourthdiv/image-fourth.jpg);
    background-size: cover;
    background-position-x: center;
    margin: 1vh 1vh;
}

.fourthdivtext {
    font-size: 3rem;
    margin: 3vw;
    font-weight: 500;
    float: left;
}

.buttonn {
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 5400;
}

.fifthdiv {
    width: auto;
    height: 60vh;
    margin: 1vh 1vh;
    /* background-color: brown; */
    background-image: url(/public/images/fifthdiv/img-.jpg);
    background-size: cover;
    background-position-x: center;
}

.fifthdivtext {
    font-size: 3rem;
    float: right;
    font-weight: 500;
    margin: 50px;

}

.sixthdiv {
    height: 15vh;
    background-color: #fae5a2;
    border-radius: 30px 30px 0px 0px;

}

.sixthdivtext {
    font-family: 'Jua', sans-serif;
    font-size: 2.3ch;
    font-weight: 100;
    position: relative;
    margin-top: 10px;
    color: #b87932;
}

.seventhhdiv {
    width: auto;
    height: 100vh;
    /* background-color:aqua; */
    display: flex;
    flex-direction: row;
}

.diva {
    /* background-color: chocolate; */
    width: 50vw;
    height: 100%;
}

.divb {
    /* background-color: rgb(42, 30, 210); */
    width: 50vw;
    height: 100%;
}

.a {
    width: 60%;
    height: 66%;
    /* background-color: cornflowerblue; */
    margin: 5px;
    float: right;
    margin-right: 10;
    background-image: url(/public/images/homepage/228A3712.jpg);
    background-size: cover;
    background-position-x: center;

}

.b {
    width: 60%;
    height: 32%;
    /* background-color: cornflowerblue; */
    background-image: url(/public/images/homepage/image-3.JPG);
    background-size: cover;
    background-position-x: center;
    margin: 5px;
    float: right;
    margin-right: 10;
}

.c {
    width: 56%;
    height: 32%;
    /* background-color: cyan; */
    background-image: url(/public/images/homepage/prodesign.jpg);
    background-size: cover;
    background-position-x: center;
    margin: 6px;
    float: left;
    margin-left: 10;
}

.d {
    width: 56%;
    height: 32%;
    /* background-color: cyan; */
    background-image: url(/public/images/homepage/image-.JPG);
    background-size: cover;
    background-position-x: center;
    margin: 6px;
    float: left;
    margin-left: 10;
}

.e {
    width: 56%;
    height: 32%;
    /* background-color: cyan; */
    background-image: url(/public/images/homepage/image-2.JPG);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin: 6px;
    float: left;
    margin-left: 10;
}

.a:hover {
    background-image: url(/public/images/hover/hover-a.JPG);
    -webkit-transition: .5s;
    background-position-x: center;
    background-position-y: center;
}

.b:hover {
    background-image: url(/public/images/hover/hover-b.JPG);
    -webkit-transition: .5s;
    background-position-x: center;
    background-position-y: center;
}

.c:hover {
    background-image: url(/public/images/hover/hover-c.JPG);
    -webkit-transition: .5s;
    background-position-x: center;
    background-position-y: center;
}

.d:hover {
    background-image: url(/public/images/hover/hover-d.JPG);
    -webkit-transition: .5s;
    background-position-x: center;
    background-position-y: center;
}

.e:hover {
    background-image: url(/public/images/hover/hover-e.JPG);
    -webkit-transition: .5s;
    background-position-x: center;
    background-position-y: center;
}
.footer{
    position: absolute;

}


/* ----------------------------------------------------------- */
@media (max-width: 767px) {
 

    .homecontainer {
        width: 100vw;
        height: 100vh;
        margin-left: auto;
    }

    .headname {
        font-size: .6rem;
        margin-top: .3vh;
    }

    .slideraP {
        width: auto;
        height: 10vh;
    }

    .firstdiv {
        width: 100%;
        height: 17%;
        margin-bottom: 1vh;
    }

    .imgdiv {
        width: 15.5vw;
        height: 80%;
        background-color: rgb(255, 255, 255);
        margi7n: .5vw;
        border-radius: 3px;
    }


    .seconddiv {
        width: auto;
        height: 15vh;
        margin-top: 1vh;
    }

    .seconddivtext {
        font-size: 3ch;
    }

    .cardAimg {
        width: 90px;
        height: 55px;
        margin-top: -10px;
    }

    .cardAbutn {
        width: 70px;
        height: 22px;
        margin-top: -65px;
        font-size: .4rem;
    }

    .Pname {
        font-size: .65rem;
        margin-top: -25px;
    }

    .cardA {
        min-width: 110px;
        max-width: 110px;
        min-height: 95px;
        max-height: 95px;
        margin: 5px 5px 15px 10px;

    }

    .ctdivb {

        height: 15vh;
        width: 80vw;

    }

    .go {

        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 1vw;
    }

    .ctdiva {

        height: 15vh;
        width: 20vw;

    }

    .thirddiv {
        width: auto;
        height: 15vh;


    }

    .fourthdivtext {
        position: absolute;
        font-size: .7rem;
        margin: 4vw;

    }

    .button {
        width: 48px;
        height: 20px;
        font-size: .3rem;
        font-weight: 300;

    }

    .fifthdivtext {
        font-size: .7rem;
        margin: 3vh 0vh 0vw 72vw;
    }

    .buttonn {
        width: 50px;
        height: 20px;
        font-size: .3rem;
        font-weight: 300;
        margin-left: 4vw;
    }

    .sixthdiv {
        height: 12vh;

    }

    .footer {
        width: auto;
        height: 12vh;
    }

    .footertexta {
        font-weight: 500;
        font-size: 1.3rem;

    }

    .footertextb {
        font-size: 2rem;
        font-weight: 600;
    }
}

@media (max-width: 766px) {
   .firstdiv{
    display: none;
   }
    .firstdivb{
        width: 100%;
        height: 23vh;
        display: block;
        /* background-color: #c9dfff; */
        justify-content: center;
        align-items: center;
        
    }
    .fa,.fb,.fc,.fd,.fe,.ff{
        float: right;
        margin: 4px;
        width: 31%;
        height: 10vh;
        background-color: #ebebeb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
    }
    .fa-img{
        width: 70%;
    }
    .fa-text{
        font-size: x-small;
        color: gray;
    }
    .slidera{
        display: none;
    }
    .slider-sm{
        width: 100%;
        height: auto;
        /* background-color: aquamarine; */
    }
    .slider-sm-img{
        display: block;
        width: 100%;
        height: auto;
    }
  
  
    
    .thirddiv {
        display: none;
        
    }
    
    .ctdiva {
        background-color: aqua;
        height: 100%;
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fourthdiv {
        width: auto;
        height: 30vh;
    }
    .fourthdivtext{
        font-size: small;

    }
    .buttonn {
        width: 60px;
        height: 22px;
        margin-left: 0px;
        color: white;
        background-color: blue;
        border: none;
        border-radius: 7px;
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sm-textt{
        font-size: x-small;
    }
    .fifthdiv {
        width: auto;
        height: 23vh;
       
    }
    
    .fifthdivtext {
        font-size: smaller;
        float: right;
        margin: 8px;
    
    }
    .buttonnn {
        width: 60px;
        height: 22px;
        margin-left: 20px;
        color: white;
        background-color: blue;
        border: none;
        border-radius: 7px;
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .seventhhdiv {
        width: auto;
        height: 45vh;
        /* background-color:aqua; */
        display: flex;
        flex-direction: row;
    }
    .sixthdiv {
        height: 10vh;
        background-color: #fae5a2;
    
    }
    
    .sixthdivtext {
        font-size: smaller;
        margin-top: 5px;
    }
    .sixthimg{
        margin-top: -10px;
        width: 10vw;
    }
    
    
    
    
   


   
}

