*{
    margin: 0;
    padding: 0;

}

.navvbar {
    background-color: #E0E2E5;
    display: flex;
}
.nalink {
    margin: .7vw;
    color: #0f0325;
    font-size: large;
}
.navicon {
    margin-left: 90px;
    width: 50px;
    height: 28px;
    margin: 10px;
}
.nlst {
}
.inc
{
    position: relative;
    margin: auto;
}
.brandlogo{
    width: 9ch;
    height: 9ch;
    background-color:#E0E2E5 ;
    margin-left:3%;
    border-radius: 0px 0px 10px 10px;
}